@model EmployeeManagementApp.Models.Employee
@{
    ViewBag.Title = "All Employee";
}

<form asp-controller="Home" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Department"></label>
        <select class="form-control" asp-for="Department" asp-items="Html.GetEnumSelectList<EmployeeManagementApp.Models.Dept>()">
            <option value="">Please Select</option>
        </select>
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit">Register</button>
    </div>
</form>

