@model IEnumerable<EmployeeManagementApp.Models.Employee>
@{
    ViewBag.Title = "All Employee";
}

<div class="card-deck">
    @foreach (var e in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@e.Name</h3>
            </div>
            <img class="card-img-top" src="~/images/human.png" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@e.Id" class="btn btn-primary m-1">View</a>
                <a  class="btn btn-primary m-1">Edit</a>
                <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Delete" asp-route-id="@e.Id">Delete</a>
            </div>
        </div>
    }
</div>